// $imb-admin-primary: darken(#ef4409, 0%); //orangered
$imb-admin-primary: darken(#C6A589, 0%); //coffee orange
$imb-admin-secondary: lighten(gray, 10%);
$imb-admin-third: orangered;

/*=========================================================
=            REMOVING TOP SCREEN OPTIONS LINKS            =
=========================================================*/

#show-settings-link {
	// display: none;
}

/*=====  End of REMOVING TOP SCREEN OPTIONS LINKS  ======*/

/**
 *
 * Admin Editor Title
 *
 */
#poststuff {
	#title {
		border: 2px solid $imb-admin-secondary;
	}	
}

/*===============================================
=            ACF Admin Backend Style            =
===============================================*/

// #acf-group_591e820b6f612 {

// 	.ui-sortable-handle {
// 		background-color: $imb-admin-primary;
// 		color: lighten( $imb-admin-secondary, 20% );
// 	}

// 	.acf-field {
// 		background-color: lighten( $imb-admin-secondary, 20% );
// 	}

// 	.button-link {
// 		background-color: lighten( $imb-admin-secondary, 20% );
// 	}
// }

.postbox.acf-postbox {
	border: 1px solid $imb-admin-secondary;

	&:hover {
		box-shadow: 2px 2px 6px gray;
	}

	.ui-sortable-handle {
		background-color: $imb-admin-primary;
		color: lighten( $imb-admin-secondary, 40% );

		.acf-hndle-cog {
			display:  none !important;
			// border: 1rem solid red;
		}
	}

	.acf-field {
		background-color: lighten( $imb-admin-secondary, 25% );
	}

	.inside.acf-fields {
		background-color: lighten( $imb-admin-secondary, 25% );
	}

	.button-link {
		background-color: lighten( $imb-admin-secondary, 20% );
	}


}

/*=====  End of ACF Admin Backend Style  ======*/


































